.photo {
  height: 800px;
  background: url(../img/banner-02.jpg);
  position: relative;
  z-index: 0;
  background-size: cover;
}

.main-top {
  height: 50px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopnow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.accaunt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background: #d33b33;
  margin: auto 32px auto 20px;
  width: 80px;
}

.right-phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  padding: 3px 0 0 0;
}

.right-phone-box p {
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-phone-box p a {
  color: #ffffff;
  text-decoration: none;
}

.right-phone-box p a:hover {
  color: #d33b33;
}

.our-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-link ul {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-link ul li {
  border-right: 1px solid #ffffff;
  padding: 0px 10px;
  line-height: 14px;
}

.our-link ul li a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.our-link ul li a:hover {
  color: #d33b33;
}

.logoMenyu {
  width: 1208px;
  height: 115px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoMenyu span {
  color: black;
  margin: 0 10px;
}

.logoMenyu ul {
  display: inline-block;
  margin: 0px 0px 0 388px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoMenyu ul li {
  display: inline-block;
  margin: 0 15px;
}

#zem {
  color: black;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  color: darkgreen;
}

#home {
  color: red;
}

.content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h1 {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 900;
  padding: 0 0 10px 0;
}

.content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.content .content-arrows button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
}

.content .content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-middle button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  width: 160px;
  height: 60px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=header.css.map */