html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a img,
:link img,
:visited img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

header .main-top .shopnow, header .main-top .accaunt, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box, header .main-top .accaunt .our-link ul, .logo-menyu > .row > .logo a, .logo-menyu .menyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top, header .search-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-menyu, .content-middle span, .best, #instagram .container .row, .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-menyu > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mySlides .content, .best .sale, .best .box .box-hover .add-cart, #blog .info .icons li, #instagram .container .arrows-prev button, #instagram .container .arrows-next button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .container .row1 .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.m-1 {
  margin: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mx-1 {
  margin: 0px 10px;
}

.my-1 {
  margin: 10px 0px;
}

.m-2 {
  margin: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.mx-2 {
  margin: 0px 20px;
}

.my-2 {
  margin: 20px 0px;
}

.m-3 {
  margin: 30px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.ml-3 {
  margin-left: 30px;
}

.mr-3 {
  margin-right: 30px;
}

.mx-3 {
  margin: 0px 30px;
}

.my-3 {
  margin: 30px 0px;
}

.m-4 {
  margin: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-4 {
  margin-left: 40px;
}

.mr-4, .logo-menyu .menyu > a, .logo-menyu .menyu > ul > li {
  margin-right: 40px;
}

.mx-4 {
  margin: 0px 40px;
}

.my-4 {
  margin: 40px 0px;
}

.m-5 {
  margin: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 50px;
}

.mx-5 {
  margin: 0px 50px;
}

.my-5 {
  margin: 50px 0px;
}

.m-6 {
  margin: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.mb-6 {
  margin-bottom: 60px;
}

.ml-6 {
  margin-left: 60px;
}

.mr-6 {
  margin-right: 60px;
}

.mx-6 {
  margin: 0px 60px;
}

.my-6 {
  margin: 60px 0px;
}

.m-7 {
  margin: 70px;
}

.mt-7 {
  margin-top: 70px;
}

.mb-7 {
  margin-bottom: 70px;
}

.ml-7 {
  margin-left: 70px;
}

.mr-7 {
  margin-right: 70px;
}

.mx-7 {
  margin: 0px 70px;
}

.my-7 {
  margin: 70px 0px;
}

.m-f-1 {
  margin: 11px;
}

.mt-f-1 {
  margin-top: 11px;
}

.mb-f-1 {
  margin-bottom: 11px;
}

.ml-f-1 {
  margin-left: 11px;
}

.mr-f-1 {
  margin-right: 11px;
}

.mx-f-1 {
  margin: 0px 11px;
}

.my-f-1 {
  margin: 11px 0px;
}

.m-f-2 {
  margin: 12px;
}

.mt-f-2 {
  margin-top: 12px;
}

.mb-f-2 {
  margin-bottom: 12px;
}

.ml-f-2 {
  margin-left: 12px;
}

.mr-f-2 {
  margin-right: 12px;
}

.mx-f-2 {
  margin: 0px 12px;
}

.my-f-2 {
  margin: 12px 0px;
}

.m-f-3 {
  margin: 13px;
}

.mt-f-3 {
  margin-top: 13px;
}

.mb-f-3 {
  margin-bottom: 13px;
}

.ml-f-3 {
  margin-left: 13px;
}

.mr-f-3 {
  margin-right: 13px;
}

.mx-f-3 {
  margin: 0px 13px;
}

.my-f-3 {
  margin: 13px 0px;
}

.m-f-4 {
  margin: 14px;
}

.mt-f-4 {
  margin-top: 14px;
}

.mb-f-4 {
  margin-bottom: 14px;
}

.ml-f-4 {
  margin-left: 14px;
}

.mr-f-4 {
  margin-right: 14px;
}

.mx-f-4 {
  margin: 0px 14px;
}

.my-f-4 {
  margin: 14px 0px;
}

.m-f-5 {
  margin: 15px;
}

.mt-f-5 {
  margin-top: 15px;
}

.mb-f-5 {
  margin-bottom: 15px;
}

.ml-f-5 {
  margin-left: 15px;
}

.mr-f-5 {
  margin-right: 15px;
}

.mx-f-5 {
  margin: 0px 15px;
}

.my-f-5 {
  margin: 15px 0px;
}

.m-f-6 {
  margin: 16px;
}

.mt-f-6 {
  margin-top: 16px;
}

.mb-f-6 {
  margin-bottom: 16px;
}

.ml-f-6 {
  margin-left: 16px;
}

.mr-f-6 {
  margin-right: 16px;
}

.mx-f-6 {
  margin: 0px 16px;
}

.my-f-6 {
  margin: 16px 0px;
}

.m-f-7 {
  margin: 17px;
}

.mt-f-7 {
  margin-top: 17px;
}

.mb-f-7 {
  margin-bottom: 17px;
}

.ml-f-7 {
  margin-left: 17px;
}

.mr-f-7 {
  margin-right: 17px;
}

.mx-f-7 {
  margin: 0px 17px;
}

.my-f-7 {
  margin: 17px 0px;
}

.m-s-1 {
  margin: 21px;
}

.mt-s-1 {
  margin-top: 21px;
}

.mb-s-1 {
  margin-bottom: 21px;
}

.ml-s-1 {
  margin-left: 21px;
}

.mr-s-1 {
  margin-right: 21px;
}

.mx-s-1 {
  margin: 0px 21px;
}

.my-s-1 {
  margin: 21px 0px;
}

.m-s-2 {
  margin: 22px;
}

.mt-s-2 {
  margin-top: 22px;
}

.mb-s-2 {
  margin-bottom: 22px;
}

.ml-s-2 {
  margin-left: 22px;
}

.mr-s-2 {
  margin-right: 22px;
}

.mx-s-2 {
  margin: 0px 22px;
}

.my-s-2 {
  margin: 22px 0px;
}

.m-s-3 {
  margin: 23px;
}

.mt-s-3 {
  margin-top: 23px;
}

.mb-s-3 {
  margin-bottom: 23px;
}

.ml-s-3 {
  margin-left: 23px;
}

.mr-s-3 {
  margin-right: 23px;
}

.mx-s-3 {
  margin: 0px 23px;
}

.my-s-3 {
  margin: 23px 0px;
}

.m-s-4 {
  margin: 24px;
}

.mt-s-4 {
  margin-top: 24px;
}

.mb-s-4 {
  margin-bottom: 24px;
}

.ml-s-4 {
  margin-left: 24px;
}

.mr-s-4 {
  margin-right: 24px;
}

.mx-s-4 {
  margin: 0px 24px;
}

.my-s-4 {
  margin: 24px 0px;
}

.m-s-5 {
  margin: 25px;
}

.mt-s-5 {
  margin-top: 25px;
}

.mb-s-5 {
  margin-bottom: 25px;
}

.ml-s-5 {
  margin-left: 25px;
}

.mr-s-5 {
  margin-right: 25px;
}

.mx-s-5 {
  margin: 0px 25px;
}

.my-s-5 {
  margin: 25px 0px;
}

.m-s-6 {
  margin: 26px;
}

.mt-s-6 {
  margin-top: 26px;
}

.mb-s-6 {
  margin-bottom: 26px;
}

.ml-s-6 {
  margin-left: 26px;
}

.mr-s-6 {
  margin-right: 26px;
}

.mx-s-6 {
  margin: 0px 26px;
}

.my-s-6 {
  margin: 26px 0px;
}

.m-s-7 {
  margin: 27px;
}

.mt-s-7 {
  margin-top: 27px;
}

.mb-s-7 {
  margin-bottom: 27px;
}

.ml-s-7 {
  margin-left: 27px;
}

.mr-s-7 {
  margin-right: 27px;
}

.mx-s-7 {
  margin: 0px 27px;
}

.my-s-7 {
  margin: 27px 0px;
}

.p-1 {
  padding: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.px-1, header .main-top .accaunt .our-link ul li {
  padding: 0px 10px !important;
}

.py-1, .logo-menyu {
  padding: 10px 0px !important;
}

.p-2 {
  padding: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.px-2 {
  padding: 0px 20px !important;
}

.py-2 {
  padding: 20px 0px !important;
}

.p-3, .content-middle p {
  padding: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.pr-3 {
  padding-right: 30px;
}

.px-3 {
  padding: 0px 30px !important;
}

.py-3 {
  padding: 30px 0px !important;
}

.p-4 {
  padding: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.px-4 {
  padding: 0px 40px !important;
}

.py-4 {
  padding: 40px 0px !important;
}

.p-5 {
  padding: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.px-5 {
  padding: 0px 50px !important;
}

.py-5 {
  padding: 50px 0px !important;
}

.p-6 {
  padding: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.px-6 {
  padding: 0px 60px !important;
}

.py-6 {
  padding: 60px 0px !important;
}

.p-7 {
  padding: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pl-7 {
  padding-left: 70px;
}

.pr-7 {
  padding-right: 70px;
}

.px-7 {
  padding: 0px 70px !important;
}

.py-7 {
  padding: 70px 0px !important;
}

.p-s-1 {
  padding: 21px;
}

.pt-s-1 {
  padding-top: 21px;
}

.pb-s-1 {
  padding-bottom: 21px;
}

.pl-s-1 {
  padding-left: 21px;
}

.pr-s-1 {
  padding-right: 21px;
}

.px-s-1 {
  padding: 0px 21px !important;
}

.py-s-1 {
  padding: 21px 0px !important;
}

.p-s-2 {
  padding: 22px;
}

.pt-s-2 {
  padding-top: 22px;
}

.pb-s-2 {
  padding-bottom: 22px;
}

.pl-s-2 {
  padding-left: 22px;
}

.pr-s-2 {
  padding-right: 22px;
}

.px-s-2 {
  padding: 0px 22px !important;
}

.py-s-2 {
  padding: 22px 0px !important;
}

.p-s-3 {
  padding: 23px;
}

.pt-s-3 {
  padding-top: 23px;
}

.pb-s-3 {
  padding-bottom: 23px;
}

.pl-s-3 {
  padding-left: 23px;
}

.pr-s-3 {
  padding-right: 23px;
}

.px-s-3 {
  padding: 0px 23px !important;
}

.py-s-3 {
  padding: 23px 0px !important;
}

.p-s-4 {
  padding: 24px;
}

.pt-s-4 {
  padding-top: 24px;
}

.pb-s-4 {
  padding-bottom: 24px;
}

.pl-s-4 {
  padding-left: 24px;
}

.pr-s-4 {
  padding-right: 24px;
}

.px-s-4 {
  padding: 0px 24px !important;
}

.py-s-4 {
  padding: 24px 0px !important;
}

.p-s-5, .slideshow-container .prev, .next {
  padding: 25px;
}

.pt-s-5 {
  padding-top: 25px;
}

.pb-s-5 {
  padding-bottom: 25px;
}

.pl-s-5 {
  padding-left: 25px;
}

.pr-s-5 {
  padding-right: 25px;
}

.px-s-5 {
  padding: 0px 25px !important;
}

.py-s-5 {
  padding: 25px 0px !important;
}

.p-s-6 {
  padding: 26px;
}

.pt-s-6 {
  padding-top: 26px;
}

.pb-s-6 {
  padding-bottom: 26px;
}

.pl-s-6 {
  padding-left: 26px;
}

.pr-s-6 {
  padding-right: 26px;
}

.px-s-6 {
  padding: 0px 26px !important;
}

.py-s-6 {
  padding: 26px 0px !important;
}

.p-s-7 {
  padding: 27px;
}

.pt-s-7 {
  padding-top: 27px;
}

.pb-s-7 {
  padding-bottom: 27px;
}

.pl-s-7 {
  padding-left: 27px;
}

.pr-s-7 {
  padding-right: 27px;
}

.px-s-7 {
  padding: 0px 27px !important;
}

.py-s-7 {
  padding: 27px 0px !important;
}

header .main-top {
  height: 60px;
  background-color: black;
  color: white;
}

header .main-top .shopnow {
  font-size: 15px;
}

header .main-top .accaunt .custom-select-box {
  background-color: #d33b33;
  width: 100px;
  height: 30px;
}

header .main-top .accaunt .right-phone-box p {
  color: white;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .accaunt .right-phone-box p a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .main-top .accaunt .right-phone-box p a:hover {
  color: #d33b33;
}

header .main-top .accaunt .our-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-top .accaunt .our-link ul li {
  border-right: 1px solid white;
  line-height: 14px;
}

header .main-top .accaunt .our-link ul li a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .main-top .accaunt .our-link ul li a:hover {
  color: #d33b33;
}

.logo-menyu > .row {
  width: 1200px;
}

.logo-menyu > .row > .logo a {
  font-size: xx-large;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logo-menyu > .row > .logo a:hover {
  color: #d33b33;
}

.logo-menyu .menyu a {
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logo-menyu .menyu a:hover {
  color: #d33b33;
}

.logo-menyu .menyu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search-bar {
  background: black;
}

header .search-panel {
  height: 60px;
  color: white;
}

header .search-panel input {
  width: 94%;
  height: 60%;
  background: transparent;
  color: white;
}

.slideshow-container {
  position: relative;
}

.slideshow-container .prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #d33b33;
  position: absolute;
  z-index: 3;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.slideshow-container .prev:hover, .next:hover {
  background: black;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.mySlides .content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.content .content-middle {
  text-align: center;
}

.content-middle p {
  font-size: 22px;
}

.content-middle h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 900;
}

.content .content-middle button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  width: 160px;
  height: 60px;
  cursor: pointer;
}

.content .content-middle button:hover {
  background: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto 40px;
  position: relative;
  overflow: hidden;
}

.col-3 a {
  background: #d33b33;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  cursor: pointer;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 a:hover {
  background: black;
}

.col-3 img {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.col-3 button {
  background: #d33b33;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  cursor: pointer;
  color: white;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 button:hover {
  background: black;
}

#product {
  height: 600px;
}

#product .top button {
  padding: 10px 20px;
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 20px;
  margin: 20px 0 0 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product .top button:hover {
  background: black;
}

.best .text {
  width: 255px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
}

.best .sale {
  width: 53px;
  height: 30px;
  background: #d33b33;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 15px;
}

.best .box {
  width: 255px;
  height: 440px;
  position: relative;
  margin: 45px 25px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best .box:hover .box-hover {
  bottom: 0;
}

.best .box .image {
  position: relative;
}

.best .box .image img {
  width: 100%;
  height: 100%;
}

.best .box .box-hover {
  position: absolute;
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.best .box .box-hover .add-cart {
  width: 120px;
  height: 50px;
  background: #d33b33;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 18px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.best .box .box-hover .add-cart:hover {
  background: black;
  cursor: pointer;
}

.best .box .box-hover ul {
  position: absolute;
  background: #d33b33;
  width: 39px;
  font-size: 19px;
  line-height: 35px;
  text-align: center;
  color: white;
  font-weight: 700;
}

.best .box .box-hover ul li {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.best .box .box-hover ul li:hover {
  background: black;
  cursor: pointer;
}

#blog {
  margin: 100px 0 0 0;
  background: #f5f5f5;
  padding: 70px 0;
}

#blog .item .info p {
  font-size: 18px;
  line-height: 26px;
}

#blog .row .desc span {
  font-size: 40px;
  margin: 0 0 20px;
  display: inline-block;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.col-12 {
  width: 100%;
}

#blog .desc {
  text-align: center;
}

.col-4 {
  max-width: 33.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

#blog .item .image {
  padding-bottom: 84%;
  background-position: center;
  background-size: cover;
}

#blog .item {
  margin: 30px 15px 0;
}

#blog .item .info {
  padding: 20px 20px 20px 45px;
  background: white;
}

#blog .item .info h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#blog .info .icons {
  position: absolute;
  top: 0;
  left: -45px;
  cursor: pointer;
}

#blog .info .icons span {
  color: white;
  font-size: 21px;
}

#blog .info .icons li {
  width: 34px;
  height: 34px;
  background: black;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#blog .info .icons li p {
  position: absolute;
  right: -95px;
  background-color: rgba(211, 59, 51, 0.9);
  color: white;
  padding: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
  visibility: hidden;
  width: 74px;
  text-align: center;
}

#blog .info .icons li:hover {
  background: #d33b33;
}

#blog .info .icons li:hover p {
  opacity: 1;
  visibility: visible;
}

#blog .info .icons li:last-child {
  margin-bottom: 0;
}

#blog .shortDesc {
  position: relative;
}

#instagram .container {
  width: 100%;
  background: black;
  padding: 50px 0;
}

#instagram .container .row {
  position: relative;
}

#instagram .container .col {
  width: 240px;
  height: 240px;
}

.col img {
  width: 100%;
}

#instagram .container .arrows-prev button {
  font-size: x-large;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

#instagram .container .arrows-prev button:hover {
  background: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#instagram .container .arrows-next button {
  font-size: x-large;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#instagram .container .arrows-next button:hover {
  background: #d33b33;
}

#footer {
  background: #202020;
  padding: 70px 0 70px 0;
}

#footer .container .row1 .col-4 {
  /* border: 1px solid red; */
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#footer .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
}

#footer .container .row1 .social {
  width: 100%;
}

#footer .container .row1 .col-4 a:hover {
  color: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#footer .container .row1 .social ul li {
  font-size: 23px;
  padding: 4px;
}

#footer .container .row1 .social ul {
  list-style: none;
}

#footer .container .row1 h3 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 19px;
  position: relative;
  font-weight: 700;
  border-bottom: 3px solid #d33b33;
  padding-bottom: 10px;
}

.footer-about p {
  color: white;
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 32px;
  line-height: 27px;
}

.footer-contact span {
  padding-right: 15px;
}

#footer .container .row1 .col-4 ul li a {
  color: white;
}

.footer-menyu ul {
  line-height: 40px;
}

.footer-contact ul {
  line-height: 40px;
}

.footer-contact ul li a:hover {
  color: #d33b33;
}

.footer-copyright {
  background: #2c2c2c;
  padding: 20px 0;
  color: #d33b33;
}

#banner-about .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#banner-about {
  background: url(../img/all-bg-title.jpg);
  position: relative;
  height: 300px;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner-about img {
  width: 100%;
}

.title {
  color: white;
  position: absalute;
  z-index: 2;
  text-align: center;
}

.title h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.title div {
  background: #d33b33;
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

#about {
  margin: 70px 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container .col-6 {
  width: 550px;
}

.container .col-6 p {
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0 10px 0 0;
}

.container .col-6 h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.container .col-6 img {
  width: 100%;
  padding: 0 0 0 30px;
}

.container .row .coll-4 {
  margin-left: 45px;
  margin-top: 70px;
  width: 330px;
  height: 150px;
  position: relative;
}

.container .row .coll-4:hover .col-4-hover {
  background: #d33b33;
}

.container .row .coll-4 .text {
  margin: 10px 0 0 15px;
}

.container .row .coll-4 .text p {
  font-size: 18px;
  line-height: 25px;
  padding: 5px 50px 0 0;
}

.container .row .coll-4 .text h1 {
  font-size: 25px;
  font-weight: bold;
}

.col-4-hover {
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  width: 5px;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.cart .row-head {
  background-color: #d33b33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 70px;
}

.cart .row-head .col-2 {
  padding: 20px 0 20px 0;
  width: 12%;
}

.cart .row-head .col-2:nth-child(1) {
  padding-left: 10px;
}

.cart .row-head .col-2:nth-child(4) {
  width: 40%;
}

.cart .row-head .col-2:nth-child(2) {
  width: 40%;
}

.cart .row-body .col-2 img {
  width: 100px;
}

.cart .row-body .col-2 {
  width: 12%;
}

.cart .row-body .col-2:nth-child(1) {
  padding-left: 10px;
}

.cart .row-body .col-2:nth-child(4) {
  width: 40%;
}

.cart .row-body .col-2:nth-child(2) {
  width: 40%;
}

.cart .row-body .col-2:nth-last-child(1) {
  text-align: center;
}

.cart .row-body .col-2 i {
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.cart .row-body .col-2 i:hover {
  color: #d33b33;
}

.cart .row-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid lightgray;
  padding-top: 15px;
}

.cart .row-body .col-2 span i {
  text-align: center;
}

.cart .row-body .col-2 input {
  text-align: center;
  border: 3px solid gray;
}

.to-order .col-8 {
  width: 70%;
}

.to-order .col-4 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.to-order .col-4 button {
  padding: 20px 18px;
  background-color: #dd3333;
  color: white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.to-order .col-4 button:hover {
  background-color: black;
}

.to-order .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 70px 0;
}

.to-order .col-4 .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  font-size: 30px;
}

.contact .col-4 {
  background: #0035441a;
  height: 390px;
}

.contact .col-4 p {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 25px;
}

.contact .col-4 p i {
  color: #d33b33;
}

.contact .col-4 p span {
  padding-right: 15px;
}

.contact .col-4 p a {
  color: black;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.contact .col-4 p a:hover {
  color: #d33b33;
}

.contact .col-4 h2 {
  padding: 15px 15px 0;
  font-size: 30px;
}

.contact .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 70px 0;
}

.contact .col-8 {
  margin-left: 50px;
}

.contact .col-8 p {
  padding: 20px 0;
  font-size: 16px;
  line-height: 25px;
}

.contact .col-8 h2 {
  font-size: 30px;
}

.form-control input, textarea {
  border: 1px solid lightgray;
  margin-bottom: 50px;
  width: 100%;
  padding: 15px 0 15px 10px;
}

.form-control textarea {
  padding: 15px 0 50px 10px;
}

.form-control .send {
  text-align: center;
}

.form-control .send button {
  color: white;
  padding: 20px;
  background-color: #d33b33;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.form-control .send button:hover {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */