html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a img,
:link img,
:visited img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

header .main-top .shopnow, header .main-top .accaunt, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .content, .banner .content .content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .shopnow, header .main-top .accaunt, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .content, .banner .content .content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top {
  height: 50px;
  background-color: black;
  color: white;
}

header .main-top .shopnow {
  font-size: 15px;
}

header .main-top .accaunt .custom-select-box {
  background-color: #d33b33;
  width: 100px;
  height: 30px;
  margin: 10px;
}

header .main-top .accaunt .right-phone-box {
  margin-left: 10px;
  padding: 3px 0 0 0;
}

header .main-top .accaunt .right-phone-box p {
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .accaunt .right-phone-box p a {
  color: #ffffff;
  text-decoration: none;
}

header .main-top .accaunt .right-phone-box p a:hover {
  color: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .main-top .accaunt .our-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-top .accaunt .our-link ul {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .accaunt .our-link ul li {
  border-right: 1px solid #ffffff;
  padding: 0px 10px;
  line-height: 14px;
}

header .main-top .accaunt .our-link ul li a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

header .main-top .accaunt .our-link ul li a:hover {
  color: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logomenyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.logomenyu > .row {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logomenyu > .row > .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: xx-large;
  color: #1f1f1f;
}

.logomenyu > .row > .logo a:hover {
  color: darkgreen;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logomenyu .menyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logomenyu .menyu a {
  color: #1f1f1f;
}

.logomenyu .menyu a:hover {
  color: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logomenyu .menyu > a {
  margin-right: 40px;
}

.logomenyu .menyu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logomenyu .menyu > ul > li {
  margin-right: 40px;
}

.banner {
  height: 800px;
  position: relative;
  z-index: 0;
  background-size: cover;
  overflow: hidden;
}

.banner .banner-foto img {
  width: 100%;
  background-size: cover;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner .content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.banner .content .content-middle > p {
  padding: 30px;
  font-size: 22px;
}

.banner .content .content-middle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .content .content-middle h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 900;
}

.banner .content .content-middle button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  width: 160px;
  height: 60px;
  cursor: pointer;
}

.banner .content .content-middle button:hover {
  background: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.banner .content .content-middle .content-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.banner .content .content-middle .content-arrows button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.banner .content .content-middle .content-arrows button:hover {
  background: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.col-3 a {
  background: #d33b33;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  cursor: pointer;
  color: white;
}

.col-3 a:hover {
  background: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.col-3 img {
  width: 100%;
}

.col-3 img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.col-3 button {
  background: #d33b33;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  cursor: pointer;
  color: white;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
}

.col-3 button:hover {
  background: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product {
  height: 600px;
}

#product .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .top button {
  padding: 10px 20px;
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 20px;
  margin: 20px 0 0 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product .top button:hover {
  background: black;
}

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best .text {
  width: 255px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
}

.best .sale {
  width: 53px;
  height: 30px;
  background: #d33b33;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.best .box {
  width: 255px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin: 45px 25px 0 0;
}

.best .box:hover .box-hover {
  bottom: 0;
  height: 100%;
}

.best .box img {
  position: absolute;
  z-index: 0;
  top: 0;
}

.best .box .box-hover {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.best .box .box-hover ul {
  position: absolute;
  background: #d33b33;
  width: 39px;
  font-size: 19px;
  line-height: 35px;
  text-align: center;
  color: white;
  font-weight: 700;
}

#blog {
  margin: 100px 0 0 0;
  background: #f5f5f5;
  padding: 70px 0;
}

#blog .item .info p {
  font-size: 18px;
  line-height: 26px;
}

#blog .row .desc span {
  font-size: 40px;
  margin: 0 0 20px;
  display: inline-block;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

#blog .desc {
  text-align: center;
}

.col-4 {
  max-width: 33.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

#blog .item .image {
  padding-bottom: 84%;
  background-position: center;
  background-size: cover;
}

#blog .item {
  margin: 30px 15px 0;
}

#blog .item .info {
  padding: 20px 20px 20px 45px;
  background: white;
}

#blog .item .info h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#blog .info .icons {
  position: absolute;
  top: 0;
  left: -45px;
  background: black;
  padding: 7px;
}

#blog .info .icons span {
  color: white;
  font-size: 19px;
}

#blog .info .icons li {
  margin-bottom: 10px;
}

#blog .info .icons li:last-child {
  margin-bottom: 0;
}

#blog .shortDesc {
  position: relative;
}

#instagram .container {
  width: 100%;
  background: black;
  padding: 50px 0;
}

#instagram .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#instagram .container .col {
  width: 240px;
  height: 240px;
}

.col img {
  width: 100%;
}

#instagram .container .arrows-prev button {
  font-size: x-large;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#instagram .container .arrows-prev button:hover {
  background: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#instagram .container .arrows-next button {
  font-size: x-large;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#instagram .container .arrows-next button:hover {
  background: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#footer {
  background: #202020;
  padding: 70px 0 70px 0;
}

#footer .container .row1 .col-4 {
  /* border: 1px solid red; */
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#footer .container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .container .row1 .social {
  width: 100%;
}

#footer .container .row1 .col-4 a:hover {
  color: #d33b33;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#footer .container .row1 .social ul li {
  font-size: 23px;
  padding: 4px;
}

#footer .container .row1 .social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .container .row1 h3 {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 19px;
  position: relative;
  font-weight: 700;
  border-bottom: 3px solid #d33b33;
  padding-bottom: 10px;
}

.footer-about p {
  color: #cccccc;
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 32px;
  line-height: 27px;
}

.footer-contact span {
  padding-right: 15px;
}

#footer .container .row1 .col-4 ul li a {
  color: white;
}

.footer-menyu ul {
  line-height: 40px;
}

.footer-contact ul {
  line-height: 40px;
}

.footer-copyright {
  background: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  color: #d33b33;
}
/*# sourceMappingURL=style.css.map */