html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a img,
:link img,
:visited img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

header .main-top .shopnow, header .main-top .accaunt, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box, .logoMenyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-top .shopnow, header .main-top .accaunt, header .main-top .accaunt .custom-select-box, header .main-top .accaunt .right-phone-box, .logoMenyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-top {
  height: 50px;
  background-color: black;
  color: white;
}

header .main-top .shopnow {
  font-size: 15px;
}

header .main-top .accaunt .custom-select-box {
  background-color: #d33b33;
  width: 100px;
  height: 30px;
  margin: 10px;
}

header .main-top .accaunt .right-phone-box {
  margin-left: 10px;
  padding: 3px 0 0 0;
}

header .main-top .accaunt .right-phone-box p {
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .accaunt .right-phone-box p a {
  color: #ffffff;
  text-decoration: none;
}

header .main-top .accaunt .right-phone-box p a:hover {
  color: #d33b33;
}

header .main-top .accaunt .our-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-top .accaunt .our-link ul {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-top .accaunt .our-link ul li {
  border-right: 1px solid #ffffff;
  padding: 0px 10px;
  line-height: 14px;
}

header .main-top .accaunt .our-link ul li a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

header .main-top .accaunt .our-link ul li a:hover {
  color: #d33b33;
}

.logoMenyu {
  width: 1208px;
  height: 115px;
  margin: 0 auto;
}

.logoMenyu #zem {
  color: black;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.logoMenyu span {
  color: black;
  margin: 0 7px;
}

.logoMenyu ul {
  display: inline-block;
  margin: 0px 0px 0 388px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoMenyu ul li {
  display: inline-block;
  margin: 0 15px;
}

.logoMenyu ul li a:hover {
  color: brown;
  -webkit-transition: all .10s ease;
  transition: all .10s ease;
}

.banner {
  height: 800px;
  background: url(../img/banner-02.jpg);
  position: relative;
  z-index: 0;
  background-size: cover;
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner .content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .content .content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .content .content-middle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .content .content-middle h1 {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 900;
  padding: 0 0 10px 0;
}

.banner .content .content-middle button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  width: 160px;
  height: 60px;
}

.banner .content .content-middle .content-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.banner .content .content-middle .content-arrows button {
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
}

.col-3 {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.col-3 button {
  background: brown;
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 45px;
}

.col-3 img {
  width: 100%;
}

#product {
  height: 600px;
}

#product .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .top button {
  padding: 10px 20px;
  background-color: #d33b33;
  border: none;
  color: white;
  font-size: 20px;
  margin: 20px 0 0 0;
}

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best .text {
  width: 255px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
}

.best .sale {
  width: 53px;
  height: 30px;
  background: red;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.best .box {
  width: 255px;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin: 45px 25px 0 0;
}

#blog {
  margin: 100px 0 0 0;
  background: #f5f5f5;
  padding: 70px 0;
}

#blog .item .info p {
  font-size: 18px;
  line-height: 26px;
}

#blog .row .desc span {
  font-size: 40px;
  margin: 0 0 20px;
  display: inline-block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

#blog .desc {
  text-align: center;
}

.col-4 {
  max-width: 33.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

#blog .item .image {
  padding-bottom: 84%;
  background-position: center;
  background-size: cover;
}

#blog .item {
  margin: 30px 15px 0;
}

#blog .item .info {
  padding: 20px 20px 20px 45px;
  background: white;
}

#blog .item .info h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#blog .info .icons {
  position: absolute;
  top: 0;
  left: -45px;
  background: black;
  padding: 7px;
}

#blog .info .icons span {
  color: white;
  font-size: 19px;
}

#blog .info .icons li {
  margin-bottom: 10px;
}

#blog .info .icons li:last-child {
  margin-bottom: 0;
}

#blog .shortDesc {
  position: relative;
}
/*# sourceMappingURL=style.css.map */