#blog {
	height: 850px;
	margin: 100px 0 0 0;
	background: #f5f5f5;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	.row div {
		width: 350px;
		height: 520px;
		display: flex;
		align-items: flex-end;
		margin: 40px 25px 0 0;
		.row2 {
			height: 230px;
			margin: 0;
			display: flex;
			align-items: center;
			position: relative;
			background: white;
			div {
				width: 300px;
				height: 210px;
				display: flex;
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				align-items: center;
				flex-direction: column;
				padding: 20px 8px 0;
				background: white;
			}
			ul {
				width: 30px;
				height: 80px;
				background: black;
				span {
					color: white;
					font-size: small;
					margin: 7px;
				
				}
			
			}
		}
	}
    p {
        display: flex;
        justify-content: center;
        padding: inherit;
    }
    span {
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin: 0 0 20px;
    }

}















