
$main-color1:#d33b33;
$main-color2:black;

%flex-align-items-center{
    display: flex;
	align-items: center;
}

%flex-align-items-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-direction-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
