

.dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    border: 3px solid white;
    transition: all .3s linear;
    &:hover{
        background-color: $main-color1;
        border:3px solid $main-color1 ;
    }
  }

  .activee {
    background-color: $main-color1;
    border:3px solid $main-color1 ;
  }

.slideshow-container .slider-button{
    position: absolute;
    z-index: 7;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.left{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center !important;
    margin-left: -50px;
}

.center{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


  .transRight { 
    animation: transRight .9s ease 0s 1 normal forwards;    
}

@keyframes transRight {
    0% {
        transform: translate(0, 0);    
      }
      100% {
        transform: translate(550px, 0);
      }
  }

  .transLeft { 
    animation: transLeft .9s ease 0s 1 normal forwards;    
}

@keyframes transLeft {
    0% {
        transform: translate(0, 0);    
      }
      100% {
        transform: translate(-550px, 0);
      }
  }

  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }

.slideshow-container {
    position: relative;
}

.slideshow-container:nth-child(2) .mySlides .content{
    text-align: right!important;
}
  
.slideshow-container .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    @extend .p-s-5;
    color:$main-color3;
    font-weight: bold;
    font-size: $font-size5;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: $main-color1;
    position: absolute;
    z-index: 3;
    transition: all .3s linear;
    &:hover{
        background: $main-color2;
    }
}
  
  
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  


.mySlides .content {
    width: 100%;
    height: 100%;
    color:$main-color3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all .5s linear;
    
}
          
  
.content .content-middle{
    text-align: center;
    transition: all .5s linear;
}
  
  
.content-middle p{
    @extend .p-3;
    @extend .font-size-f-2;
}
  
.content-middle span {
    @extend %flex-justify-center;
}
  
.content-middle h1 {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 900
}
  
.content .content-middle button {
    background-color: $main-color1;
    border: none;
    color: $main-color3;
    @extend .font-size-f-4;
    text-transform: uppercase;
    @extend .p-2;
    cursor: pointer;
}
  
.content .content-middle button:hover{
    background:$main-color2;
    transition: all .3s ease-in-out;
}



