.mySlides{

}


.slideshow-container {
    position: relative;
}
  
  
.slideshow-container .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    @extend .p-s-5;
    color:$main-color3;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: $main-color1;
    position: absolute;
    z-index: 3;
    transition: all .3s linear;
    &:hover{
        background: $main-color2;
    }
}
  
  
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  


.mySlides .content {
    width: 100%;
    height: 100%;
    color:$main-color3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    @extend %flex-justify-center-align-center;
}
          
  
.content .content-middle{
    text-align: center;
}
  
  
.content-middle p{
    @extend .p-3;
    font-size: 22px;
}
  
.content-middle span {
    @extend %flex-justify-center;
}
  
.content-middle h1 {
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900
}
  
.content .content-middle button {
    background-color: $main-color1;
    border: none;
    color: $main-color3;
    font-size: 24px;
    text-transform: uppercase;
    width: 160px;
    height: 60px;
    cursor: pointer;
}
  
.content .content-middle button:hover{
    background:$main-color2;
    transition: all .3s ease-in-out;
}



