.categories-item{
    width: 350px;
    height: 350px;
    border: 1px solid $main-color2;
    margin: 0 13px 40px;
    @extend %flex-end-justify-center;
    position: relative;
    overflow: hidden;
}

.categories-item a{
    background: $main-color1;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: $main-color3;
    transition: all .3s ease-in-out;
    &:hover{
        background: $main-color2;
    }
}

.categories-item img{
    width: 100%;
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.05);
        filter: opacity(70%);
       
    }
}

.categories-item button{
    background: $main-color1;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: $main-color3;
    transform: perspective(1px);
    transition: all .3s ease-in-out;
    &:hover{
        background: $main-color2;
    }
}
