.col-3{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin: 0 auto 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.col-3 button{
    background: brown;
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 45px;
}

.col-3 img{
    width: 100%;
}