
.container-full{
    display: flex;
    margin: 80px 0 240px 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    justify-content: center;
    margin: 70px 0;
    grid-gap: 25px;
}

.container button{
    background-color:$main-color;
    width: 350px;
    height: 45px;
}

[class^="row-"]{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.row-1{

}
.row-2{

}
.row-3{

}
.row-4{
}
.row-5{

}
.row-6{

}