@import '../variables';
$main-color:#d33b33;




header{
    .main-top {
        height: 50px;
        background-color: black;
        color: white;
        @extend %flex-align-items-space-between;
        .shopnow {
            font-size: 15px;
            @extend %flex-align-items-center;
             

        }
        .accaunt {
            @extend %flex-align-items-center;
            .custom-select-box{
                @extend %flex-align-items-center;
                background-color: $main-color;
                width: 100px;
                height: 30px;
                margin: 10px;
            }
            .right-phone-box {
                margin-left: 10px;
                padding: 3px 0 0 0;
                @extend %flex-align-items-center;
                p {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 30px;
                    align-items: center;
                     a {
                        color: #ffffff;
                        text-decoration: none;
                        &:hover{
                            color: #d33b33;
                        }
                    }
                }
            }
            .our-link {
                display: flex;
                ul {
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    li {
                        border-right: 1px solid #ffffff;
                        padding: 0px 10px;
                        line-height: 14px;
                        a {
                            color: #ffffff;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-decoration: none;
                            &:hover{
                                color: #d33b33;                              
                           }   
                        }   
                    }
                }
            }
        }
    }
}

.logoMenyu {
    width: 1208px;
    height: 115px;
    margin: 0 auto;
    @extend %flex-align-items-center;
    #zem {
        color: black;
        display: inline-block;
        align-items: center;
        font-size: 32px;
        
    }
    span {
        color: black;
        margin: 0 7px;
    }
    ul {
        display: inline-block;
        margin: 0px 0px 0 388px;
        justify-content: flex-start;
        align-items: center;
        li {
            display: inline-block;
            margin: 0 15px;
            a:hover{
                color: brown;
                transition: all .10s ease;
            }
        }
    }


}















