




header{
    .main-top {
        height: 60px;
        background-color: $main-color2;
        color:$main-color3;
        @extend %flex-align-items-space-between;
        .shopnow {
            font-size: 15px;
            @extend %flex-align-items-center;
             

        }
        .accaunt {
            @extend %flex-align-items-center;
            .custom-select-box{
                @extend %flex-align-items-center;
                background-color: $main-color1;
                width: 100px;
                height: 30px;
                @extend .ml-1;
            }
            .right-phone-box {
                @extend .ml-1;
                @extend %flex-align-items-center;
                p {
                    color:$main-color3;
                    font-size: 14px;
                    align-items: center;
                     a {
                        color: $main-color3;
                        text-decoration: none;
                        transition: all .3s ease-in-out;
                        &:hover{
                            color: $main-color1;
                        }
                    }
                }
            }
            .our-link {
                display: flex;
                ul {
                    @extend %flex-align-items-center;
                    li {
                        border-right: 1px solid $main-color3;
                        @extend .px-1;
                        line-height: 14px;
                        a {
                            color: $main-color3;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-decoration: none;
                            transition: all .3s ease-in-out; 
                            &:hover{
                                color: $main-color1;                             
                           }   
                        }   
                    }
                }
            }
        }
    }
}

.logo-menyu{
    @extend %flex-justify-center;
    @extend .py-1;
    >.row{
        width: 1200px;
        @extend %flex-justify-space-betwween;
        >.logo a{
            @extend %flex-align-items-center;
            font-size: xx-large;
            color:$main-color2;
            transition: all .3s ease-in-out;
            &:hover{
                color: $main-color1;
            }
            }
        }
    .menyu{
        @extend %flex-align-items-center;
        a{
            color:$main-color2;
            transition: all .3s ease-in-out;
            &:hover{
            color: $main-color1;
        }
    }
        >a{
            @extend .mr-4;
        }
        >ul{
            display: flex;
            >li{
                @extend .mr-4;
            }
        }
    }
    
    
}


header .search-bar{
    background: $main-color2;
}

header .search-panel{
    height: 60px;
    color: $main-color3;
    @extend %flex-align-items-space-between;
    input{
        width: 94%;
        height: 60%;
        background: transparent;
        color: $main-color3;
    }
    
}












