




header{
    .main-top {
        @extend .main-height-6;
        background-color: $main-color2;
        color:$main-color3;
        @extend %flex-align-items-space-between;
        .shopnow {
            font-size:$font-size3;
            @extend %flex-align-items-center;
             

        }
        .accaunt {
            @extend %flex-align-items-center;
            .custom-select-box{
                @extend %flex-align-items-center;
                background-color: $main-color1;
                @extend .main-width2-5;
                @extend .ml-1;
            }
            .right-phone-box {
                @extend .ml-1;
                @extend %flex-align-items-center;
                p {
                    color:$main-color3;
                    font-size: $font-size3;
                     a {
                        color: $main-color3;
                        text-decoration: none;
                        transition: all .3s ease-in-out;
                        &:hover{
                            color: $main-color1;
                        }
                    }
                }
            }
            .our-link {
                display: flex;
                ul {
                    @extend %flex-align-items-center;
                    li {
                        border-right: 1px solid $main-color3;
                        @extend .px-1;
                        line-height: 14px;
                        a {
                            color: $main-color3;
                            font-weight: 700;
                            text-transform: uppercase;
                            @extend .font-size-9;
                            text-decoration: none;
                            transition: all .3s ease-in-out; 
                            &:hover{
                                color: $main-color1;                             
                           }   
                        }   
                    }
                }
            }
        }
    }
}

.logo img{
    width: 100%;
}

.logo{
    width: 120px;
}
.logo-menyu{
    .logo-menyu-item{
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        position: relative;
    }
        >.logo a{
            @extend %flex-align-items-center;
            font-size: xx-large;
            color:$main-color2;
            transition: all .3s ease-in-out;
            &:hover{
                color: $main-color1;
            }
            }
        }
    .menyu{
        @extend %flex-align-items-center;
        .menyu-item{
            span{
                color:$main-color2;
                transition: all .3s ease-in-out;
                cursor: pointer;
                margin-left: 15px;
                &:hover{
                color: $main-color1;
            }
        
            }
        }
        a{
            color:$main-color2;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:hover{
            color: $main-color1;
        }
    }
        >a{
            @extend .ml-4;
        }
        >ul{
            display: flex;
            >li{
                @extend .ml-4;
            }
        }
    }
    
    



header .search-bar{
    background: $main-color2;
}

header .search-panel{
    @extend .main-height-6;
    color: $main-color3;
    @extend %flex-align-items-space-between;
    input{
        width: 94%;
        height: 60%;
        background: transparent;
        color: $main-color3;
    }
    
}






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition:all 0.3s linear;
    padding-top: 60px;
  }
  
  .sidenav span {
    font-size: 15px;
    color: white;
    transition:all 0.3s linear;
    cursor: pointer;
    &:hover{
        color: $main-color1;
    }
  }
  

  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  



  .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {  
    border: none;
    outline: none;
    color: black;
    background-color: white;
  }
  

  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: $main-color4;
    overflow: hidden;
    width: 100%;
    left: 0;
  }
  
  .dropdown-content-item{
      display: flex;
      background-color: $main-color4;
      justify-content: space-between;
  }

  .dropdown-content-item .dropdown-content-middle{
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
      align-items: center;
      text-align: center;
  }

  .dropdown-content-item .dropdown-content-middle:nth-last-child(1){
      border: none;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: red;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


