#instagram .container{
    width: 100% !important;
    position: relative;
}

#instagram img{
   width: 100%;
   cursor: pointer;

}



#instagram{
    background-color: black;
    padding: 70px 0;
}


.glide-slides-item {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .glide-slides-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(211,59,51, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
  }
  
  .glide-slides-item:hover .overlay {
    height: 100%;
  }
  
  .glide-slides-item .overlay a{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s linear;
    text-align: center;
    transform: translate(-50%, -50%);
    text-align: center;
    &:hover{
        color: white;
    }
  }
