#instagram .container{
    width: 100%;
    background: $main-color2;
    padding: 50px 0;
}

#instagram .container .row{
    @extend %flex-justify-center;
    position: relative;
}

#instagram .container .col{
    width: 240px;
    height: 240px;
}

.col img{
    width: 100%;
}



#instagram .container .arrows-prev button{
    font-size: x-large;
    background:$main-color2;
    color: $main-color3;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    @extend %flex-justify-center-align-center;
    cursor: pointer;
    &:hover{
        background: $main-color1;
        transition: all .3s ease-in-out;
    }
}

#instagram .container .arrows-next button{
    font-size: x-large;
    background:$main-color2;
    color: $main-color3;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    @extend %flex-justify-center-align-center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        background: $main-color1;
    }
}

