

#blog {
	margin: 100px 0 0 0;
    background: $main-color4;
    padding: 70px 0;
	}

#blog .item .info p {
    font-size: 18px;
    line-height: 26px;
}

#blog .row .desc span {
    font-size: 40px;
    margin: 0 0 20px;
    display: inline-block;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    @extend %flex-wrap;
}

.col-12 {
    width: 100%;
}

#blog .desc {
    text-align: center;
}

.col-4 {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
}
#blog .item .image {
    padding-bottom: 84%;
    background-position: center;
    background-size: cover;
}



#blog .item .info {
    padding: 20px 20px 20px 45px;
    background: $main-color3;
}

#blog .item .info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
#blog .info .icons {
    position: absolute;
    top: 0;
    left: -45px;
    cursor: pointer;

}

#blog .info .icons span {
    color: $main-color3;
    font-size: 21px;
}

#blog .info .icons li {
    width: 34px;
    height: 34px;
    background: $main-color2;
    @extend %flex-justify-center-align-center;
    transition: all .3s ease-out;
    p{
        position: absolute;
        right: -101px;
        background-color: rgba($main-color1, 0.9);
        color: $main-color3;
        padding: 10px;
        transition: .3s linear;
        opacity: 0;
        visibility: hidden;
        width: 74px;
        text-align: center;
        width: 100px;
        border-radius: 15px;
    }
    &:hover{
        background: $main-color1;
    }
    &:hover p{
        opacity: 1;
        visibility: visible;
    }
       
    
}


#blog .info .icons li:last-child {
    margin-bottom: 0;
}
#blog .shortDesc{
    position: relative;
}

