.product{
    margin: 70px 0;
}


.search-product {
    position: relative;
    margin-bottom: 15px;
}

.search-product input {
    background: #f6f6f6;
    color: #000;
    height: 50px;
    font-weight: 300;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%;
}

.search-product button{
    background: #010101;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    right: 0px;
    padding: 12px 15px;
    top: 0;
    line-height: 27px;
    cursor: pointer;
    height: 100%;
    transition: all .3s linear;
    &:hover{
        background-color: $main-color1;
    }
}

.filter-categories-title h3{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.filter-categories-title{
    border-bottom: 3px solid #010101;
}

.filter-categories{
    margin-bottom: 20px;
}


.filter-categories-item .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding: 10px;
    &:focus{
        background-color: #f5f5f5;
    }
    &:hover{
        color: brown;
    }
  }
  
  .filter-categories-item .active, .collapsible:hover {

  }
  
  .filter-categories-item .collapsible:after {
    content: '\002B';
    color:black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  

   .notAfter:after{
    display: none;
  }

  .filter-categories-item .active:after {
    content: "\2212";
  }
  
 .filter-categories-item .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  .filter-categories-item .content a{
      background-color: white;
      text-decoration: none;
      color: black;
      padding-left: 15px;
      border-left: 1px solid lightgrey;
      padding-top: 10px;
      &:hover{
          color: brown;
      }
  }








  .filter-price-title h3{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.filter-price-title{
    border-bottom: 3px solid #010101;
    margin-bottom: 30px;
}













.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: black;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
  }
  

  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: brown;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }



  .filter-price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .filter-price-btn button{
    padding: 15px;
    background: brown;
    color: white;
    transition: all .3s linear;
    cursor: pointer;
    &:hover{
        background-color: black;
    }

  }


.products{
  margin-top: 20px;
}



  .product-item-filter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;

      p{
          font-size: 18px;
      }
  }

  .toolbar{
      display: flex;
      align-items: center;
      span{
        padding: 0 30px;
        font-size: 18px;
      }
  }

  .select-sort select{
    background: black;
    color: white;
    padding: 10px 18px;

    }


 .select-items{
    background-color: red;
 }



  .product-item{
    padding-left: 15px;
    .box{
        margin: 0;
    }
  }


  .filter-product-icon button{
    color: black;
    transition: all .3s linear;
    padding: 5px 10px;
    margin-left: 5px;
    &:hover{
        background-color: brown;
        color: white;
    }
  }

  .textt{
    width: 255px;
    height: 90px;
    display: flex;
    background: #f5f5f5;
}


.tab-panel-item{
  display: flex;
  padding-bottom: 20px;
  .tab-panel-add-cart{
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    background-color: $main-color1;
    margin-top: 15px;
    transition: all .3s linear;
    &:hover{
      background-color: black;
    }
  }
  p{
    font-size: 15px;
  }
}


.description{
  background-color: #f5f5f5;
  padding: 13px;
}


.tab-panel{
  display: none;
  transition: opacity .15s linear;
  .box{
    height: 0;
  }
}

.tab-panel-head{
  display: block;
  transition: opacity .15s linear;
}