.cart .row-head {
    background-color: $main-color1;
    display: flex;
    color: white;
    margin-top: 70px;
}


.cart .row-body .col-2 img{
    width: 100px;
    padding: 0;
}



.cart .row-body .col-2 {
    &:nth-last-child(1){
        text-align: center;
    }
}

.cart .row-body .col-2 i{
    cursor: pointer;
    transition: all .3s linear;
    &:hover{
        color: $main-color1;
    }
}

.cart .row-body {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 15px 0;
}

.cart .row-body .col-2 span i{
    text-align: center;
}

.cart .row-body .col-2 input{
    text-align: center;
    border: 3px solid gray;
}


.row-head .cart-title{
    padding: 15px 0;
    text-align: center;
}


.product-name{
    text-align: center;
}

.row-body-price{
    text-align: center;
}


.row-body-quantity{
    text-align: center;
}

.row-body-remove{
    text-align: center;
}