.to-order .col-8{
    width: 70%;
}

.to-order .col-4{
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.to-order .col-4 button{
    padding: 20px 18px;
    background-color: #dd3333;
    color: white;
    transition: all .3s linear;
    cursor: pointer;
    &:hover{
        background-color: black;
    }
}



.to-order .row{
    flex-wrap: nowrap;
    margin: 70px 0;
}

.to-order .col-4 .text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    font-size: 30px;

}